table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    background-color: blue;
    border-top: none;
    font-family: Muli;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
}

td:first-child, th:first-child {
     border-left: none;
}